:root{
    --bar-width: 20px;
    --bar-height: 2px;
    --hamburger-gap: 3px;
    --foreground: white;
    --background: white;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);



}
.hamburger-menu{
    --x-width: calc(var(--hamburger-height)*1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    right: 40px;
    z-index: 15;
    cursor: pointer;
    top: 109px;


}

.hamburger-menu::before, 
.hamburger-menu::after, 
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--cdiRouge);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing),
                width var(--animation-timing),
                rotate var(--animation-timing), 
                translate var(--animation-timing),
                background-color var(--animation-timing);


}

.hamburger-menu input{
    appearance: none;
    outline: none;
    pointer-events: none;

}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);

}
.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);

}

.hamburger-menu input:checked{
    opacity: 0;
    width: 0;

}

.sidebar{
    position: fixed;
    top: 80px;
    width: 186px;
    height: 400px;
    background-color: rgba(254, 251, 251, 0.95);
    padding: 100px 30px 0;
    z-index: 10;
    transition: translate var(--animation-timing);
    translate: 0%;
    right: -190px;
    /* border: 1px solid var(--cdiRouge); */
    border-radius: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: var(--cdiRouge);
    gap: 5px;

}
.sidebar a{
    color: var(--cdiRouge);
}
.hamburger-menu:has(input:checked) + .sidebar{
    translate: -100%;

}

.sidebar a:hover{
    background-color: var(--cdiRouge);
    color: white;
}