a{
    text-decoration: none !important;
}

.textCenter{
    text-align: center;
}

.flex{
    display: flex;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexCol{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.wrap{
    flex-wrap: wrap;
}

.spaceAround{
    justify-content: space-around;
}

.spaceBetween{
    justify-content: space-between;
}

.spaceCenter{
    justify-content: center;
}

.itemCenter{
    align-items: center;
}

.contentCenter{
    align-content: center;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
    
}