.calendar_table{
    width: 50%;
    height: calc(100vh-128px);
}

.calendar_table td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    width: 14%;
    height: 20%;


}

.calendar_table .calendar_table_6weeks td{
    height: 16.66%;
    

}

.calendar_gris{
    color:  #ccc;
}


.cal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
}
